{#
  Sphinx-doc like manual theme
  ============================
#}
{% extends 'basic/document.typ.jinja' %}

{% block main %}
  {# To skip front-matter for page counts. #}
  #counter(page).update(1);
  {{ super() }}
{% endblock %}
